@font-face {
    font-family: 'HelveticaNowTextMedium';
    src: url('/fonts/HelveticaNowTextMedium.woff2') format('woff2');
}

html,body{
    cursor: url('/images/nike-custom-cursor.png'), auto;  
}

input[type="text"], textarea,a {
    cursor: url('/images/nike-cursor-pointer.png'), auto;
}

@tailwind base;
@tailwind components;
@tailwind utilities;