@font-face {
    font-family: 'HelveticaNowTextMedium';
    src: url('/fonts/HelveticaNowTextMedium.woff2') format('woff2');
}

html, body {
    height: 100%;
    width: 100%;
    cursor: url('/images/nike-custom-cursor.png'), auto;  
    -webkit-user-select: none;
    user-select: none;
    overflow-x: hidden;
}

input[type="text"], textarea,a,.menu-items,.shopnow, .carousel-item {
    cursor: url('/images/nike-cursor-pointer.png'), auto;
}
body::-webkit-scrollbar {
    background-color: transparent;
}
body::-webkit-scrollbar-thumb {
    background: linear-gradient(black,#9e9ea0,#2b333f);
    border-radius: 10px; 
}

/* tagline animation */
.tagline .span {
    display: inline-flex;
}
.tagline .span:nth-child(even) {
    overflow: hidden;    
    transition: all ease 0.4s;
    letter-spacing: -1em;
}
.tagline:hover .span:nth-child(even) {
    letter-spacing: 0;
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  -webkit-overscroll-behavior: contain;
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.customcursorball{
    position: absolute;
    top:0;
    left:0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: #cacacb;
    transition: all cubic-bezier(0.19, 1, 0.22, 1);
}

.shopnow:hover{
  transform: scale(1.1);
  transition: all ease 0.2s;
}


@tailwind base;
@tailwind components;
@tailwind utilities;
